*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: montserrat-regular, sans-serif;
    color: var(--primary-base)
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    font-family: montserrat-bold, sans-serif;
    text-wrap: balance;
}

p {
    margin: 0 0 1em;
    text-wrap: pretty;
}


a { 
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: var(--primary-1);
    font-size: 1em;
}

.btn.rounded {
    border-radius: .3em;
}

