*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: montserrat-regular, sans-serif;
    color: var(--primary-base)
}

body {
    font-size: 1.25rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    font-family: montserrat-bold, sans-serif;
    text-wrap: balance;
}

p {
    margin: 0 0 1em;
    text-wrap: pretty;
}


img {
    display: block;
    max-width: 100%;
}


canvas {
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    outline: 1px black solid;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: white;
}

.btn.rounded {
    border-radius: .3em;
}

.btn.text-editor {
    font-size: 1em;

}
