/* flex helpers */

.flex {
    display:  flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* display helper */
.hide {
    display: none;
}

/* input helpers */

input[type="color"] {
    opacity: 0;
    position: absolute;
    z-index: -1; /* Place it behind other elements */
}