/* flex helpers */

.flex {
    display:  flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-right {
    justify-content: right;
}

.flex.align-center {
    align-items: center;
}


/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* display helper */
.hide {
    display: none;
}

/* input helpers */

input[type="color"] {
    opacity: 0;
    position: absolute;
    z-index: -1; /* Place it behind other elements */
}

/* msg helpers */
.user-msg {
    position: fixed;
    top: -90px;
    right: 10px;
    background-color: var(--primary-base);
    color: var(--secondary-base);
    border-radius: 0.4em;
    padding: 10px;
}

.user-msg.open {
    top: 10px;
    transition: bottom 0.5s;
}