/* SMALL */

@media (min-width: 640px) {
    .main-layout {
        grid-template-columns: 
        minmax(50px, 1fr)
        minmax(auto, 540px)
        minmax(50px, 1fr);
    }
}


/* MEDIUM */


@media (min-width: 880px) {
    .main-layout {
        grid-template-columns: 
        minmax(50px, 1fr)
        minmax(auto, 780px)
        minmax(50px, 1fr);
    }
}

/* LARGE */

@media (min-width: 1100px) {
    .main-layout {
        grid-template-columns: 
        minmax(50px, 1fr)
        minmax(auto, 1000px)
        minmax(50px, 1fr);
    }
    
    
}
