:root {
    /* pallete */
    
    --primary-base: #1A2130;
    --secondary-base: #5A72A0;
    --primary1: #83B4FF;
    --primary0: #FDFFE2;
    --primary-1: #ffffff;

    /* layout vars */

    --editor-section-margin: 2em;
    --editor-button-size: 3em;
}