.memes-grid-container {
    background-color: var(--primary0);
    padding-block: 1em;
}

.memes-grid-container .hide-section {
    display: none;
}

/* filter section */
.filter-search-field {
    margin-block: 1em;
}

.filter-search-field input {
    border: none;
    background: none;
    padding-block: .5em;
    padding-inline-start: 1em;
    border-bottom: 1px solid black;
}

.key-words-container {
    gap: 2em;
    margin-block-end: 1em;
}

.key-words-container .keywords-search-word {
    color: var(--secondary-base);
    font-family: buenard-bold;
    cursor: pointer;

}

/* gallery section */

.gallery-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    grid-auto-flow: dense;
    /* grid-auto-rows: 250px; */
    /* padding: 20px; */

    margin-block-end: 1.5em;
}

.meme-list-item {
    position: relative;
    cursor: pointer;
}

.meme-list-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.file-input-label {
    background-color: var(--primary-1);
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    border: 0.1px solid black;
}

.random-meme-btn {
    color: var(--secondary-base);
}

/* editor section */

.editor-section {
    display: flex;
    align-items: center;
    max-width: 1020px;
}

.canvas-container {
    margin: auto;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 100%;
}


.editor-tools-section {
    display: grid;
    padding: 1em;
}

.editor-section .editor-tools-section>* {
    gap: 1em;
    margin-block-end: 2em;
}

.editor-section .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
    width: var(--editor-button-size);
    height: var(--editor-button-size);

}

.editor-section .btn img {
    height: 50%;

}

.editor-section input,
select {
    border: none;
    border-radius: 1em;
    padding-block: 1em;
    padding-left: 3em;
}

.editor-section .font-family-select {
    width: 11em;
    text-transform: capitalize;
}


/* saved memes section */

.saved-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    grid-auto-flow: dense;
    /* grid-auto-rows: 250px; */
    /* padding: 20px; */

    margin-block-end: 1.5em;
}

.saved-section {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    grid-auto-flow: dense;
    /* grid-auto-rows: 250px; */
    /* padding: 20px; */

    margin-block-end: 1.5em;
}

.saved-section h2 {
    justify-self: center;
    color: var(--secondary-base);
    grid-column: 1 / -1;
}

/* share and download */

.share-modal {
    border: none;
    padding: 2em;
    gap: 1em;
}

.share-btn {
    cursor: pointer;
    border: none;
    padding: .5em 1em;
    border-radius: .3em;
    font-size: 1em;

    color: var(--primary-1);
    background-color: var(--secondary-base);
}

/* Stickers */

.stickers-container {
    background-color: var(--primary-1);
    grid-column: 1 / -1;
    height: 7em;
    border-radius: 1em;
    overflow: auto; 
    cursor: move;  
}


