.main-header {
    padding-block: 20px;
    background-color: var(--secondary-base);
}

.main-header .main-nav > ul > *:not(:last-child) {
    margin-inline-end: 1.05em;
}

.main-header .main-nav a {
    color: white;
    text-decoration: none;
}